body {
    background-image : url(fond.jpg);
    background-size : 100% 100%;
    font-family: sans-serif;
}

.btn1 {
  position: absolute;
  left: 90%;
  top: 40%;
}

.btn2 {
  position: absolute;
  left: 75%;
  top: 40%;
}

.btn3 {
  position: absolute;
  left: 67.2%;
  top: 40%;
}

.bouton-lien {
  background-color: #4c4cff;
  border: 0.2px solid #000077;
  border-radius: 5px;
  padding: 3px;
  color: rgb(255, 255, 255);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  text-align: center;
  text-decoration: none;
  cursor: default;
}

.bouton-lien:hover {
background-color: #9a9aff;
border: 0.2px solid #000077;
border-radius: 5px;
padding: 3px;
color: rgb(255, 255, 255);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: large;
text-align: center;
text-decoration: none;
cursor: default;
}

header
{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 100px;
    background-color: rgb(0, 13, 133);
}

.grand-titre {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 20px;
    height: 111px;
    margin: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.titre {
    position: relative;
    top: 120px;
    height: 111px;
    margin: 10px;
    text-align: center;
}

.presentation {
    position: relative;
    top: 50px;
    height: 111px;
    margin: 10px;
    text-align: center;
}

.presentation-groupe {
    position: relative;
    text-align: center;
}

.image {
  height: 50%;
  z-index: 0;
}

.bandeau {
  z-index: 1;	
}	

#guide {
  text-align: center;
  margin: 2px;
}

.logoDuJeu {
	height: 100%;
	left: 15%;
  position: absolute;
}