body {
    background-image : url(fond.jpg);
    background-size : 100% 100%;
    font-family: sans-serif;
}

header
{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 100px;
    background-color: rgb(0, 13, 133);
}

#grand-titre {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 20px;
    height: 111px;
    margin: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.bandeau {
  z-index: 1;	
}	

.titre {
  text-align: center;
  position: relative;
}

.commandes {
  position: relative;
  margin: 5%;
}

.mobs {
  position: relative;
  margin: 5%;
}

.objets {
  position: relative;
  margin: 5%;
}