body {
    background-image : url(fond.jpg);
    background-size : 100% 100%;
    font-family: sans-serif;
}

header
{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 100px;
    background-color: rgb(0, 13, 133);
}

#grand-titre {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 20px;
    height: 111px;
    margin: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.carte-du-rpg {
  margin: 120px;
  text-align: center;
}

.bandeau {
  z-index: 1;	
}	

.carte {
    width: 80%;
    border: solid 2px red;
  }

  .point-interest {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 1px blue;
  }

  .description {
    display: none;
    position: absolute;
    top: 15%;
    left: 15%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.76);
    border-radius: 20px;
    border: solid 1px teal;
    padding: 16px;
    width: 360px;
    text-align: center;
  }

  .description-test {
    display: none;
    position: absolute;
    top: 15%;
    left: 15%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    border: solid 1px teal;
    padding: 16px;
    width: 100px;
    text-align: center;
  }
  
  .point-interest:hover .description, .description-test {
    display: block;
  }

  .image-description {
    height: 200px;
  }

  .titre-description {
    font-size: large;
  }

  .texte-description {
    font-size: medium;
  }

  .liste-description {
    font-size: medium;
    text-align: left;
  }